@font-face {
  font-family: "icones";
  src: url(../font/icones.ttf);
}
:root {
  --body-color: #1d232a;
  --bg-header: #1d232a;
  --bg-header-mobile: #15191c;
  --menu-color: #15191c;
  --bg-card: #2c343a;
  --text-color: #ffffff;
  --text-color-alt: #95999c;
  --links-color: #0480dc;
  --buttons: #0480dc;
  --shadows: 0px 4px 4px rgba(0, 0, 0, 0.16);
  --font: "Open Sans", "icones", sans-serif;
}

body {
  background-color: var(--body-color);
  color: #fff;
  font-family: var(--font);
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: var(--bg-header-mobile);
  box-shadow: var(--shadows);
}

.cabecalho__menu i::before {
  content: "\e904";
  font-size: 1.5rem;
  cursor: pointer;
}

.cabecalho__logo {
  width: 2.5rem;
}

.cabecalho__notificacao i::before {
  content: "\e906";
  font-size: 1.5rem;
  cursor: pointer;
}

.cabecalho__perfil {
  display: none;
}

.menu__lateral {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-header-mobile);
  width: 75vw;
  height: 100vh;
  position: absolute;
  left: -100vw;
  transition: all 0.5s ease-in-out;
}

.menu__lateral-active {
  left: 0;
}

.menu__lateral-logo {
  width: 7.375rem;
  align-self: center;
  padding: 1rem;
}

.menu__lateral__link {
  /*  padding: 0.75rem; */
  height: 64px;
  color: var(--text-color-alt);
  padding-left: 64px;
  display: flex;
  align-items: center;
}
.menu__lateral__link-active {
  color: var(--text-color);
  padding-left: 56px;
  border-left: 8px solid var(--text-color);
}

/* ===== Icons Section ======== */
.menu__lateral__link::before {
  content: "";
  width: 24px;
  height: 24px;
  font-size: 24px;
  position: absolute;
  left: 24px;
}

.icon__home::before {
  content: "\e902";
}
.icon__videos::before {
  content: "\e90e";
}
.icon__gaps::before {
  content: "\e909";
}
.icon__partners::before {
  content: "\e903";
}
.icon__shirts::before {
  content: "\e900";
}
.icon__paints::before {
  content: "\e90a";
}

.cartao__botao.icon-cart::before {
  content: "\e901";
  font-size: 24px;
}

.cartao__info-tempo::before {
  content: "\e90c";
  margin-right: 8px;
}
.cartao__info-visualizacao::before {
  content: "\e90f";
  margin-right: 8px;
}
.cartao__info-price::before {
  content: "\e905";
  margin-right: 8px;
}

.cartao__imagem-desktop {
  display: none;
}

/* Main Principal */

.principal {
  padding: 24px 16px;
  display: grid;
  gap: 16px;
}

.titulo__pagina {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Cartoes  */

.cartao {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--bg-card);
}

.cartao--destaque {
  margin-bottom: 16px;
}

.cartao--recentes {
  display: none;
}

.cartao__conteudo {
  display: grid;
  grid-template-columns: auto 1fr;
  /*  grid-template-rows: 300px; */
  padding: 16px;
  gap: 8px;
}

.cartao__destaque {
  grid-column: span 2;
}

.cartao__titulo {
  font-size: 1.2rem;
  font-weight: bold;
  grid-column: span 2;
}

.cartao__perfil {
  color: var(--text-color-alt);
  font-size: 0.9rem;
  font-weight: normal;
  grid-column: span 2;
}

.cartao__info {
  display: flex;
  align-items: center;
  color: var(--text-color-alt);
  font-size: 0.9rem;
}

.cartao__botao {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--buttons);
  width: 40px;
  height: 40px;
  font-size: 0.9rem;
  border-radius: 10px;
  justify-self: flex-end;
}

.cartao__botao.icon-play::before {
  content: "\e90b";
  font-size: 24px;
}

.cartao__botao-destaque {
  width: 100%;
  grid-column: span 2;
}

.cartao__botao-destaque::before {
  margin-right: 8px;
}

.secao {
  display: grid;
  gap: 16px;
}

.titulo__secao {
  font-size: 1.2rem;
  font-weight: bold;
}

/* REsponsive area */

@media screen and (min-width: 1024px) {
  .cartao__destaque {
    margin-bottom: 0;
  }

  body {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  main.principal {
    display: grid;
    grid-template-columns: auto 1fr auto;

    grid-template-areas:
      "titulo-pagina titulo-pagina titulo-pagina"
      "destaque-video destaque-video videos-recentes"
      "secao-videos secao-videos secao-videos"
      "produtos-recentes destaque-produtos destaque-produtos"
      "secao-produtos secao-produtos secao-produtos";

    column-gap: 32px;
    padding: 16px 60px;
    grid-column: 2;
  }

  /*   .titulo__pagina {
    grid-column: 1 / span 3;
  }
 */
  .cabecalho {
    background-color: var(--bg-header);

    display: grid;
    column-gap: 32px;
    grid-template-columns: 1fr auto;
    padding: 16px 60px;
    height: 80px;
    box-sizing: border-box;
    grid-column: 2;
  }

  .cabecalho__menu,
  .cabecalho__logo {
    display: none;
  }

  .cabecalho__perfil {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 8px;
    align-items: center;
    justify-self: flex-end;
    padding: 8px 32px;
    border-right: 1px solid #95999c;
    color: #95999c;
  }

  .cabecalho__perfil::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(../img/profile_2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .cabecalho__perfil::after {
    content: "\e90d";
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .menu__lateral {
    position: static;
    width: 200px;
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  .cartao__imagem-mobile {
    display: none;
  }

  .cartao__imagem-desktop {
    display: block;
  }

  .cartao--recentes {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    row-gap: 24px;
    width: 256px;
    padding: 16px;
    box-sizing: border-box;
    align-self: flex-start;
  }

  .cartao--recentes .cartao__titulo {
    grid-column: auto;
  }

  .cartao__link {
    font-size: 0.8rem;
    color: var(--links-color);
    justify-self: flex-end;
    font-weight: 600;
  }

  .cartao__lista {
    display: grid;
    row-gap: 16px;
    grid-column: span 2;
  }

  .cartao__item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
  }

  .cartao__item-thumbnail {
    width: 32px;
    grid-row: span 2;
  }

  .cartao__item-titulo {
    font-size: 0.9rem;
    line-height: 1.2rem;
    font-weight: 700;
  }

  .cartao__item-perfil {
    font-size: 0.8rem;
    color: var(--text-color-alt);
  }

  .cartao__botao-destaque {
    grid-column: auto;
    padding: 15px 8px;
  }

  .secao {
    grid-template-columns: repeat(4, 1fr);
  }
  .titulo__secao {
    grid-column: span 4;
  }

  .destaque-video {
    grid-area: destaque-video;
  }

  .videos-recentes {
    grid-area: videos-recentes;
  }

  .secao-videos {
    grid-area: secao-videos;
  }

  .destaque-produtos {
    grid-area: destaque-produtos;
  }

  .produtos-recentes {
    grid-area: produtos-recentes;
  }

  .secao-produtos {
    grid-area: secao-produtos;
  }
}

/*  */

/* grid Area */
/* 

 */
